{% extends "base.html" %}
{% block content %}
    <head>
            {{sndmap.js}}
    </head>
    <body>
        <div align="center">
            {{sndmap.html}}
        </div>
        <div id="matches-list" class="container table-matches" align="center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Match</th>
                        <th scope="col">Date</th>
                        <th scope="col">Stadion</th>
                        <th scope="col"><th>
                    </tr>
                </thead>
              <tbody>
                    {% for item in matches %}
                    <tr>
                        <td>{{ item.homeTeamName }} - {{ item.awayTeamName }}</td>
                        <td>{{ item.date }}</td>
                        <td> Stadion </td>
                        <td><a href="{{ url_for('get_offer_start',  param=item) }}">Get offers </a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </body>
{% endblock %}