.center_div{
    margin: 0 auto;
    width: 40%; !important /* value of your choice which suits your alignment */
}

.table-matches {
    width: 70%;
    margin-top: 8%;
    margin-bottom: 8%;
}

tbody tr:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}